
   
#login-items{
    width: 100%;
    height: 100vh;
    display: flex;
    place-content: center;
    align-items: center;
    background:linear-gradient(107.85deg, blue -144.58%, purple -144.58%,  #0D0F19 104.83%);
    
}

.login-form{
    display: flex;
    flex-direction: column;
}

#login-items h1{
    text-align: center;
    margin-top: 2rem;
    color: white;
}

#login-items p{
    text-align: center;
    font-size: x-small;
    margin-top: 1rem;
    color: white;
}

.login-child{
    border: 1px solid cyan;
    border-radius: 1.5rem;
    width: 20rem;
    padding-bottom: 2.5rem;
    box-shadow: 17px 28px 53px -17px rgba(0, 0, 0, 0.7);   
    background:linear-gradient(107.85deg, rgb(102, 97, 97) -144.58%, rgb(102, 97, 97) -144.58%, rgba(217, 217, 217, 0) 104.83%);
}

.login-form input[type='text'], .login-form input[type='password']{
    padding: 4px;
    width: 15rem; 
    margin-top: 1rem;
    padding-left: 25px;
    outline: none;
    border: none;
    border-bottom-style: ridge;
    border-bottom-color:cyan ;
    background-color: transparent;
    color: white;
}

.login-form-item{
    display: flex;
    place-content: center;
    align-items: center;
}

.submit-button{
    width: 4.5rem;
    padding: 8px;
    border-radius: 10px;
    margin-top: 1.5rem;
    background-color: blue; 
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
   
}

.submit-contain{
    display: flex;
    place-content: center;
}

.form-user{
    position: relative;
    top: -1.5rem;
    border: 1px solid black;
    padding: 2px;
    border-color: white;
    border-radius: 50%;
    color: white;
}

